<html>
  <body>
    <div>
      <h4>Hello <%= @email %>,</h4>
      <p>Thank you for contacting us. A ticket has been generated and you will be notified shortly about it.</p>
    </div>
  </body>
</html>
